@import url("About.css");
@import url("App.css");
@import url("DesktopHeader.css");
@import url("Footer.css");
@import url("Header.css");
@import url("MobileHeader.css");
@import url("Projects.css");
@import url("Skills.css");
@import url("Splash.css");



/*h2{
  color: white;
  font-family: 'Merriweather Sans';
  text-transform: uppercase;
}

h3{
  color: white;
  font: 18px 'Merriweather Sans', bold;
}

p{
  color: #343333;
  font-family: 'Merriweather Sans';
  text-align: left;
}*/

/*.background {
  /*background-position: center center;*/
  background-image: url("../src/images/pattern.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  text-align: center;
  display: table;
  min-width: 100vw;
}*/

/*.splash {
  vertical-align: middle;
  display: table-cell;
  background-color: rgba(30, 50, 20, 0.1);
  height: 100vh;
  width: 100vw;
}*/

/*.title-box {
  display: inline-block;
  /*background-color: #f8d22f;*/
  background-color: rgba(50, 23, 23, 0.8);
  border: .5em solid white;
  border-radius: .2em;
  padding-bottom: 1.5em;
}*/

/*.sg-splash{
  font: 2.5em 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
}*/

/*.link-splash{
  font-size: 1em;
  color: white;
  text-decoration: none !important;
  cursor: pointer;
  padding: 0em 3em 0 3em;
  display: inline-block;
}

.link-splash:hover{
  color: #F4546B;
}*/


/*.row {
  background-color: rgba(30, 50, 20, 0.2);
  display: table-cell;
  width: 100vw;
}*/

/*.header {
  background-image: url("../src/images/pattern.jpg");
  display: none;
  width: 100vw;
  vertical-align: middle;
  text-align: center;
}*/

/*.name-title {
  text-align: left;
  padding-bottom: 0 0 0.5em 1em;
}*/

/*.susan-graham {
  font: 2.5em 'Montserrat', sans-serif;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
}*/

/*.fed {
  color: white;
  text-transform: uppercase;
  font: 1.5em 'Montserrat', sans-serif;
  display: inline-block;
  margin-top: 0;
}*/


/*.links {
  color: white;
  font: 18px Helvetica, bold;
}

.link {
  color: white;
  text-decoration: none !important;
  cursor: pointer;
  padding: 2.5em 1.2em 0 1.2em;
  display: inline-block;
}

.link:hover{
  color: #F4546B;
}

.logos {
  padding-top: 2.8em;
}

.logo {
  height: 1.5em;
  padding: 0 .8em;
}

.email-logo {
  height: 2em;
  paddding: 2em;
}

.logo:hover {
  cursor: pointer;
}*/

/*.content {
  background-color: #F4F3F1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}*/

/*.projects {
  padding-top: 2em;
}*/

/*.project-title{
  color: #3B3395;
  font: 1.8em 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.project-pic {
  display: block;
}*/

.fade {
   transition: background .25s ease-in;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.0;
      }
/*
.footer {
  background-color: #343333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
}*/


/*.birds{
  height: 5em;
  left: 0;
}*/

/*.about {
  font-family: 'Merriweather Sans', sans-serif;
  padding-top: 3em;
}*/

/*.footer {
  display: none;
}*/

/*.sg{
  display: none;
}

.dropdown {
  display: none;
}*/

@media (max-width: 500px) {
  .background {
    /*width: 100vw;*/
  }


  /*.footer {
    visibility: hidden;
    display: table;
    background-color: rgba(20, 10, 30, 0.9);
    padding-top: 2em;
    justify-content: space-between;
    /*background-color: #0a0732;*/
    position: inherit;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 4em;
    height: 4em;
  }*/

  /*.footer-sg {
    display: inline-block;
    color: white;
    display: table-row;;
    font-size: .8em;
    margin-top: .4em;
  }*/


  /*.fed-splash{
    font-size: 1em;
  }*/

  /*.footer-logos {
    display: flex;
    justify-content: space-around;
  }*/

  /*.row {
    margin: 0;
  }*/

  /*.main-header {
    display: none;
  }*/

  /*.logo {
    height: 1.2em;
    display: inline-flex;
  }

  .email-logo {
    height: 1.5em;
  }*/
  /*.title-box {
    padding: 0 1em .8em 1em;
    border-radius: none;
  }*/

  /*.mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }*/

  /*.sg {
    display: inline-flex;
    padding: .25em 0 0 1em;
    color: white;
    font-size: large;
  }*/

  /*.sg-splash{
    font-size: 1.8em;
  }*/

  /*.name-title {
    display: inline-flex;
  }*/

  /*.dropdown {
    display: inline-block;
    margin: 1.5em;
  }*/

  /*.logos {
    display: none;
  }*/

  /*.link-splash{
    font-size: 0.8em;
    padding: 0em 1.3em 0 1.3em;
  }*/
  /*.links {
    display: none;
  }*/
}
