p{
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  text-decoration: none !important;
  font-size: 1em;
}

.about-content {
  flex: 1;
  margin-top: 3em;
  margin-bottom: 3em;
}

.about {
  background-color: #FF4A6B;
  min-height: 20em;
}

.tech-about {
  margin-top: -0.5em;
}

.tech-skills {
  background-color: #343875;
  min-height: 20em;
}

.additional-skills {
  background-color: #F9D400;
  min-height: 20em;
}


.contact-about {
  background-color: black;
  min-height: 20em;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.about-row {
  display: flex;
  flex-direction: column;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.about-logo {
  height: 3em;
  margin: 2em;
}

.anchor {
  color: #39F0DE;
}

@media only screen and (max-width : 992px) {

  .tech-about {
    margin-top: -0.8em;
  }

}

@media only screen and (max-width : 768px) {
  .about-content {
    margin-left: 12%;
  }

}

@media only screen and (max-width : 500px) {
  .contact-about {
    display: none;
  }

}
