h2{
  color: white;
  font-family: 'Merriweather Sans';
  text-transform: uppercase;
}

h3{
  color: white;
  font: 18px 'Merriweather Sans', bold;
}

p{
  color: white;
  font-family: 'Merriweather Sans';
  text-align: left;
}

.content {
  background-color: black;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.footer {
  display: none;
}
